/* - - - - - Background colors & more - - - - - */
html, body {
  margin: 0;
  background-attachment: fixed;
}
/* - - - - - Landing page - - - - - */

h1 {
  font-size: 9ch;
  text-align: center;
  color: black;
}