/* - - - - - Background colors & more - - - - - */
html, body {
  margin: 0;
  background-attachment: fixed;
}
/* - - - - - Home page - - - - - */

h1 {
  font-size: 9ch;
  text-align: center;
  color: black;
}

.maintxt {
  color: black;
  font-size: 4ch;
  text-align: center;
}